/* ================= FOOTER ================= */
.footer {
  width: 100%;
  
  background: #ffffff;
  padding: 80px 0 0;
  border-top: 1px solid #eee;
  overflow-x: hidden; /* 🔒 no scroll */
}

/* ================= TOP ================= */
.footer-top {
  
  max-width: 1232px;
  height: 150px;
  margin: 0 auto;
  /* margin-top: 80px; */
  padding-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* ================= BRAND ================= */
.footer-brand {
  max-width: 260px;
  
 
}

.footer-brand p{
  /* max-width: 260px; */font-weight: 400;
  font-style: "regular";
  line-height: 22px;
  letter-spacing: 0%;
  width: 252px;
  height: 66px;
  
 
}

.footer-logo {
  width: 198.51;
  height: 31.34px ;
  
  margin-bottom: 14px;
}

.footer-brand p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* ================= COLUMNS ================= */
.footer-col h4,
.footer-connect h4 {
 line-height: 24px;
  margin-bottom: 16px;
  height: 24px;
  width: 70px;
  font-size: 20px;
  font-weight: 600;
  color: #2A2D32;
}

.footer-col a {
  display: block;
  width: 81px;
  height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 100%;
  letter-spacing: 0px;
  font-size: 16px;
  color: #2A2D32;
  text-decoration: none;
}

/* ================= CONNECT ================= */
.footer-connect {
  text-align: left;
}

.footer-socials {
  display: flex;
  height: 40px;
  gap: 10px;
}

/* SOCIAL ICON CIRCLE */
.footer-socials img {
  width: 59px;
  height: 59px;

  border-radius: 50%;
  /* background: rgba(33, 140, 172, 0.15); */

  padding: 10px;
  box-sizing: border-box;
  object-fit: contain;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer-socials img:hover {
  transform: translateY(-2px);
}

/* ================= BOTTOM ================= */
.footer-bottom {
  max-width: 1232px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #eee;
font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  font-size: 13px;
  color: #2A2D32;
}
.footer-bottom span {
  height: 16px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: "regular";
}

/* ================= LINKS ================= */
.footer-links span {
  margin: 0 8px;
  cursor: pointer;
}

.footer-links a{
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: "regular";
  color: #2A2D32;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}
